extends layout

block vars
  - locals.page = 'products_by_zip'
  - locals.pageTitle = "Products by Zip - RethinkDB Evaluation"

append content
  .container-fluid
    .row
      .col-sm-9.col-sm-offset-3.col-md-8.col-md-offset-2.productsByZip  
        
        h1.page-header Products by Zip Code

